    <!-- CONTACT US
    ==========================================-->
    <div class="modal fade text-center" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Get in Touch</h4>
        </div>
        <div class="modal-body">
            <ul class="social-network social-circle">
                <li><a href="https://www.facebook.com/igemmcmaster" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.twitter.com/iGEM_McMaster" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/igemmcmaster" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.github.com/mgem" class="icoGithub" title="Github"><i class="fa fa-github"></i></a></li>
                <li><a href="https://www.igem.org" class="icoDiamond" title="iGEM"><i class="fa fa-diamond"></i></a></li>
                <li><a onclick="$('#myModal').modal('hide')" href="mailto:contact@mcmastergem.com" class="icoEnvelope" title="E-mail"><i class="fa fa-envelope"></i></a></li>

            </ul>               
        </div>
    </div>
</div>
</div>

    <!-- FOOTER
    ==========================================-->

    <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <br>
                <p>&copy; 2015 mGEM - Designed by <a href="http://kushalpanchal.me">Kushal Panchal </a></p>
            </div>
            <div class="pull-right fnav">
                <ul class="social-network social-circle">
                    <li><a href="https://www.facebook.com/igemmcmaster" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.twitter.com/iGEM_McMaster" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/igemmcmaster" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.github.com/mgem" class="icoGithub" title="Github"><i class="fa fa-github"></i></a></li>
                    <li><a href="mailto:contact@mcmastergem.com" class="icoEnvelope" title="E-mail"><i class="fa fa-envelope"></i></a></li>

                </ul> 
            </div>
        </div>
    </nav>